name: Release Publisher

on:
  release:
    types:
      - released

jobs:
  publish_release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: streamarr/streamarr-server

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Install pack CLI
        uses: buildpacks/github-actions/setup-pack@v5.7.4

      - name: Build with pack CLI & publish to Docker Hub
        run: |
          pack build index.docker.io/streamarr/streamarr-server:latest \
              --tag streamarr/streamarr-server:${{ fromJSON(steps.meta.outputs.json).labels['org.opencontainers.image.version'] }} \
              --builder paketobuildpacks/builder:base \
              --env BP_JVM_VERSION=25.* \
              --path . \
              --cache-image index.docker.io/streamarr/spring-boot-buildpack-paketo-cache-image:latest \
              --publish
